@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@100;200;300;400;500;600;700&display=swap');
body{
  font-family: "Montagu Slab", serif;
  font-size: 16px;
  text-align: center;
  background: floralwhite;
  margin: 0;
  padding: 0;
}
nav {
  position: sticky;
  top: 0px;
  height: 5rem;
  background-color: darkslategray;
  display: flex;
  flex-direction: row;
}
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: floralwhite;
  font-size: 1.5rem;
}
.welcome-section {
  height: 100vh;
  width: auto;
  background: linear-gradient(to top right, #ff9966 0%, #ffffcc 50%, #ffffff 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 3rem;
  color: firebrick;
}
h2 {
  font-size: 1.5rem;
  color: firebrick;
}
.projects {
  height: 200vh;
  width: auto;
  background: linear-gradient(to bottom, #2f4f4f 0%, #483d8b 100%);
  display: flex;
  flex-direction: column;
}
.projects-header {
  display: flex;
  color: darkturquoise;
  align-self: stretch;
  justify-content: center;
  font-size: 2rem;
}
.project-tile {
  min-width: 40vw;
  min-height: 80vh;
  margin: 2vw;
}
@media {
  .project-tile {
    max-height: 1000px;
    max-width: auto;
  }
}
.projects-display {
  flex-wrap: wrap;
  justify-content: space around;
}
p > a {
  text-decoration: none;
  color: floralwhite;
}
p > a:hover {
  color: darksalmon;
}
h2 > a {
  text-decoration: none;
  color: darkturquoise;
}
h2 > a:hover {
  color: indigo;
}
.links {
  height: 100vh;
  background: firebrick;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.links > h1 {
  color: floralwhite;
  display: flex;
  text-decoration: none;
}
.links > h2 > a {
  color: floralwhite;
}
.links > h2 > a:hover {
  color: darkslategray;
}