.button {
	transition-duration: 0.75s;
	border-color: #000;
	color: #FFF;
	cursor: pointer;
	padding: 4px 4px;
	display: inline-block;
}
.button1:hover {
	color: #00f;
	background-color: #fdfef8;
}
